h1{
  color: #ffffff;
  background-color: gray;
  text-align: center;
  padding: 8px;
}
h2{
  color: #ffffff;
  /* background-color: aquamarine; */
  text-align: center;
  
}
p{
  color: #ffffff;
  /* background-color: aqua; */
  text-align: center;
}
div{
  background-color: #03203C;
  height: 100vh;
}
button{
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 16px;
  background-color: coral;
  color: #ffffff;
  margin-left: 10px;

}